# Created by .ignore support plugin (hsz.mobi)

# IntelliJ project files
.idea
*.iml
out
gen

# Office 缓存文件
**/~'$'*.docx
**/~'$'*.doc
**/~'$'*.ppt
**/~'$'*.pptx
**/~'$'*.xls
**/~'$'*.xlsx


/Python/res_0-22.txt
